.git
.env
.env.*
.venv
env
venv
__pycache__
*.py[cod]

.pytest_cache
.ruff_cache
.mypy_cache
.cache
.ipynb_checkpoints

outputs
raw_data
datasets
notebooks
model_weights
model_exports

wandb
results
work_dir*
ft_local
demo.sh

*.mp4
*.mkv
*.log
